* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: "arial", sans-serif;
}


.logo {
    text-align: left;
}

.logo img {
    width: auto;
    height: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;

}

.menu {
    /*oculto en mobile*/
    display: none;
    list-style: none;
    gap: 20px;
}


.menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;


}


.hero {

    width: 100%;
    padding: 4rem 1rem;
    background-image: url(assets/landing.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;

}

.hero-content h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    margin-bottom: 1rem;

}

.hero-content p {
    width: 100;
    margin: 0;
    display:block;
    text-align: center;
}



.info {
    padding: 2rem;
    text-align: center;

}

.info h2 {
    font-size: 2rem;
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    text-decoration: underline;
    text-decoration-color: #1db954;

}



.info-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

}





.info-container img {
    width: 80px;
    margin-bottom: 1rem;

}

.info-container h3 {
    color: #1db954;

}

.info-container p {
    color: #b3b3b3;
}

.promo {
    background-color: #1db954;

    color: white;
    padding: 3rem 1rem;
}

.article {
    display: flex;
    flex-direction: column;
    /*column on mobile*/
    gap: 3rem;


}

.article p {
    width: 100%;
    padding: 3rem 0;


}



.promo h2 {
    text-decoration: underline;
    padding: 2rem;

}


.separation{
    display: none;


}

.app-image img {
    display: none;
    width: 50%;

}

@media (min-width: 1024px) {
    .navbar {
        display: flex;
        flex-direction: row;
        align-content: flex-end;
    }

    

    .hamburger {
        display: none;
    }

    .hero{
        width: 100%;
        min-height: 500px;
        display: flex;
        align-items: center;
        text-align: center;
        padding; 0 1rem;
    }


    .info h2 {
        display: flex;
        align-content: center;


    }

    .info-container {
        display: flex;
        flex-direction: row;
        align-content: space-between;
    }

    .article {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /*Centrarlo verticalmente*/
        gap: 2 rem;


    }

    .article p {
        width: 40%;

    }

    .separation {
        display:flex;
        width: 10%;
        justify-content: center;
    }
    .separation img{
        display: block;
        width: 60px;
    }

    . .app-image {
        display: flex;
        
        justify-content: flex-end;
        width: 40%;
    }

    .app-image img {
        display: block;
        width: 100%;
        max-width: 350px;
    }
}